@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Outfit:wght@400;700&display=swap');

body{
  background-color: hsl(212, 45%, 89%);
  font-family: 'Homemade Apple', cursive;
font-family: 'Outfit', sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container{
  width: 280px;
  margin: 200px auto;
  border-radius: 30px;
  height: 470px;
  background-color:  hsl(0, 0%, 100%);
  padding: 20px;
}
#QR{
  width: 280px;
  border-radius: 20px;
}
.heading{
text-align: center;
}
.para{
  text-align: center;
  color: grey;
  font-size: 15px;
   
  margin-top: 10px;
}